{% extends 'patients/base.html' %}

{% block content %}

{% if patient_list %}
    <p>The following patients are enrolled in birthday reminders:</p>
    <ul>
    {% for patient in patient_list %}
        <li>
            <p>{{patient}}</p>
            <p>Name: {{patient.last_name}}, {{patient.first_name}}</p>
            <p>DOB: {{patient.date_of_birth}}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No patients found. Add some patients to the registry:</a></p>
{% endif %}

{% endblock %}
