{% extends 'greeter/base.html' %}

{% block content %}

{% if new_patients and user %}
    <p>The following patients were just added to the birthday reminder system:</p>
    <ul>
    {% for patient in new_patients %}
        <li>
            {{patient}}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if birthday_patients and user %}
    <p>The following patients have birthdays today:</p>
    <ul>
    {% for patient in birthday_patients %}
        <li>
            {{patient}}
        </li>
    {% endfor %}
    </ul>
{% elif user %}
    <p>No patients with birthdays today.</p>
{% endif %}

{% endblock %}
